# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables (VERY IMPORTANT)
.env

# Jupyter checkpoints (optional but nice)
.ipynb_checkpoints/

# Large data files
*.pkl
*.parquet
*.nc